body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(2, 72, 116);
    margin: 0;
}

header{
    background:linear-gradient(rgb(69, 171, 249), black);
    text-align: center;
    color: rgb(210, 210, 210);
    margin-left: 45vh;
    margin-bottom: 8vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    width: 100vh;
    border: 1px solid black;
    box-shadow: 0.4rem 0.4rem 0rem 0rem rgba(0, 0, 0, 0.5);
}

#cont{
    background-color: rgba(150, 222, 242, 0.879);
    border: 2px solid black;
    margin-left: 45vh;
    padding-left: 5%;
    padding-right: 5%;
    width: 100vh;
}

footer{
    background-color: grey;
    color:aliceblue;
    border-top: 1px solid black;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    margin-bottom: 0%;
}

h1{
    color: rgb(2, 38, 116);
}
